<!--author Julian Klempa (4085242)-->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Digital Distribution</title>
    <link rel="stylesheet" href="button.css">
</head>

<body>
    <table>
        <tr>
            <th>Revision Number</th>
            <th>Build Date</th>
            <th>Download Link</th>
        </tr>
        {{ range .Items}}
        <tr>
            <td>Version {{ .RevisionNumber }}</td>
            <td>{{ .BuildDate }}</td>
            <td>
                <a href="{{ .RevisionNumber }}" onclick="this.href='./downloads/?version=' + href">Download</a>
            </td>
        </tr>
        {{ end}}
    </table>
</body>

</html>